

.row {
	@include container();
	@include pie-clearfix();
	@include box-sizing();
}

@for $i from 1 to 12 {
	.cols-#{$i} {
		@include span($i of 12 before);
		&:first-child {
			@include first;
		}
		&.centered{
			margin-left:auto !important;
			margin-right: auto !important;
			float:none !important;
		}
	}
}

@media screen and (min-width: 1200px) {
	@for $i from 1 to 12 {
		.cols-#{$i} {
			@include span($i of 12 before);
			&:first-child {
				@include first;
			}
		}
	}
}


.right{	float:right;  }
.left{	float:left;}


.btn{

	&.green{
		background-color:$color6;
		color:#fff;
	}
}

.active{ color:$color6; font-size:10px !important; }
.none-active{ color:$color1;  font-size:10px !important; }

.error{	font-size:16px; }

.error-1{color:red; }
.error-2{color:orange;}
.error-3{color:yellow;}

form{
	label{
		color: #474747;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 300;
		line-height: 19px;
	}
	input, textarea, select{
		font-family: $font1;
		background-color: whitesmoke;
		border: 1px solid #bbb;
		border-radius: 3px;
		padding: 8px 10px;
		font-size: 15px;
		font-weight: 300;
		@include input-placeholder{
			opacity: 0.42;
			color: #474747;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 300;
			line-height: 19px;
		}
	}

	.error{
		position: relative;
		.message{
			background-color: #d21515;
			color:#fff;
			font-size:12px;
			width:auto;
			position: absolute;
			right:0;
			top: 27px;
			padding: 4px 15px;
			border-radius: 10px 10px 0px 10px;
			font-weight: 400;
		}
		label {
			color:#d21515;
		}
		input, textarea, select{
			@include input-placeholder{
				color:#d21515;
			}
		}
	}
}
